@(dataSet: DataSet)

@main("ScaQCMS") {

    @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {

<fieldset>
        <legend>Open qasmCircuit</legend>
        <input type="file" name="qasmFile"><input type="submit" value="Open">
    </fieldset>
    }
    <fieldset>
        <legend>Circuit</legend>
        <table>
            <tr><td>@Html(dataSet.circuit.replace("\t","</td><td>").replace("<td>\n", "</tr>\n<tr><td>"))</td></tr>
        </table>
        @if(dataSet.showPreProcess) {
          @helper.form(action = routes.Application.preprocess, 'enctype -> "multipart/form-data") {
            PreProcessingPolicy:
            <select name="preProcessingPolicy">
                @for(preProcessingPolicy <- dataSet.preProcessingPolicies) {
                    <option value="@preProcessingPolicy">@preProcessingPolicy</option>
                }
            </select>
            PreProcessors:
            <select name="preProcessors" multiple="multiple">
                @for(preProcessor <- dataSet.preProcessors) {
                    <option value="@preProcessor">@preProcessor</option>
                }
            </select>
            <input type="submit" value="Preprocess">
          }
        }
        @if(dataSet.showSolve) {
        <hr>
        <b>Pre processing stats:</b>
        <table>
            <tr><th/><th>Before</th><th>After</th><th>%</th></tr>
            <tr>
                <td>Sum operations</td>
                <td>@dataSet.preProcessorStats._1.sumOperations</td>
                <td>@dataSet.preProcessorStats._2.sumOperations</td>
                <td>@(100*dataSet.preProcessorStats._2.sumOperations/dataSet.preProcessorStats._1.sumOperations)%</td>
            </tr>
            <tr>
                <td>Multiply operations</td>
                <td>@dataSet.preProcessorStats._1.multiplyOperations</td>
                <td>@dataSet.preProcessorStats._2.multiplyOperations</td>
                <td>@(100*dataSet.preProcessorStats._2.multiplyOperations/dataSet.preProcessorStats._1.multiplyOperations)%</td>
            </tr>
            <tr>
                <td>Memory peak</td>
                <td>@dataSet.preProcessorStats._1.memoryPeak</td>
                <td>@dataSet.preProcessorStats._2.memoryPeak</td>
                <td>@(100*dataSet.preProcessorStats._2.memoryPeak/dataSet.preProcessorStats._1.memoryPeak)%</td>
            </tr>
            <tr>
                <td>Memory result</td>
                <td>@dataSet.preProcessorStats._1.memoryResult</td>
                <td>@dataSet.preProcessorStats._2.memoryResult</td>
                <td>@(100*dataSet.preProcessorStats._2.memoryResult/dataSet.preProcessorStats._1.memoryResult)%</td>
            </tr>
            <tr>
                <td>Depth</td>
                <td>@dataSet.preProcessorStats._1.depth</td>
                <td>@dataSet.preProcessorStats._2.depth</td>
                <td>@(100*dataSet.preProcessorStats._2.depth/dataSet.preProcessorStats._1.depth)%</td>
            </tr>
        </table>
        }
    </fieldset>
    <fieldset>
        <legend>Equation</legend>
        <table>
            <tr><td>@Html(dataSet.equation)</td></tr>
        </table>
        @if(dataSet.showSolve) {
            @helper.form(action = routes.Application.solve, 'enctype -> "multipart/form-data") {
                SolvingPolicy:
                <select name="solvingPolicy">
                    @for(solvingPolicy <- dataSet.solvingPolicies) {
                        <option value="@solvingPolicy">@solvingPolicy</option>
                    }
                </select>
                Solvers:
                <select name="solvers" multiple="multiple">
                    @for(solver <- dataSet.solvers) {
                        <option value="@solver">@solver</option>
                    }
                </select>
                <input type="submit" value="Solve">
            }
        }
        @if(dataSet.showDownload) {
        <hr>
        <b>Solving statistics</b><br>
        Solving time: @(dataSet.solverStats/1000)ms
        }
    </fieldset>
    <fieldset>
        <legend>Result</legend>
        <table>
            <tr><td>@Html(dataSet.result.replace("  ","</td><td>").replace("\n", "</td></tr>\n<tr><td>"))</td></tr>
        </table>
        @if(dataSet.showDownload) {
            @helper.form(action = routes.Application.download) {<input type="submit" value="Download result">}
        }
    </fieldset>
}